<style>

    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: #777;
        background-color: #777;
        width: 960px;
        margin-left: 100px;
        margin-right: 150px;
        font-size: 18px;
        text-align: center;
    }

    header {
        background-color: #ebebeb;
        padding: 20px;
        margin-bottom: 10px; 
    }

    nav {
        background: #ebebeb;
        padding: 20px;
        margin-bottom: 20px;
    }

    #section-box {
        background: #ebebeb;
        width: 495px;
        height: 300px;
        padding-top: 30px;
        float: left;
        margin-bottom: 20px;
    }

    #article-box {
        color: #ebebeb;
        background: #777;
        width: 475px;
        height: 220px;
        margin: 10px 10px 10px 10px;
        padding-top: 10px;
    }

    #header-box {
        color: #777;
        background: #ebebeb;
        width: 440px;
        height: 55px;
        margin: 10px 30px 10px 15px;
        padding-top: 10px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    #para-box {
        color: #777;
        background: #ebebeb;
        width: 440px;
        height: 55px;
        margin: 10px 30px 10px 15px;
        padding-top: 10px;
        text-align: center;
    }

    #aside-box {
        color: #777;
        background: #ebebeb;
        width: 445px;
        height: 330px;
        float: left;
        margin-left: 20px;
    }

    /*Missed the "margin" below the "footer." Didn't want to go back and have to make changes to ALL of the boxes above and mess up my webpage."*/
    #footer-box {
        clear: both;
        color: #777;
        background: #ebebeb;
        padding: 20px;
        overflow: auto;
    }

</style>